#video{
	border-radius: 20px;
	width: 90%;
	margin-top: 30px;
	border: 5px solid black;
}

@media screen and (max-width: 768px) {
	.imgMarco{
		opacity: 0;
		position: absolute;
		width: 0px;
	}
}

@media screen and (min-width: 769px) {	
	.imgMarco{
		opacity: 1;
	}
}